body{
    text-align: center;
}
.container{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}
.underlines{
    display: inline-block;
    padding: 0 50px;
    margin: 0 15px 20px;
    width: 100px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.wordplay_wrapper {
    width: 800px;
}
.active {
  opacity: 0.2;
}

#trys{
    font-size: 40px;
}
